@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
 margin:0;
 padding:0; 
 font-family: 'Ubuntu', sans-serif;
 background-color:#FFE6E6;
}
.heading h3{
  text-align:center;
  font-size:28px;
  color:#BA135D;
}
.inputarea{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-top:100px;
}
.inputarea label{
  font-size:23px;
  color:#E63E6D;
}
.inputarea input{
  width:250px;
  height:35px;
  margin:10px;
  font-size:17px;
  padding-left:7px;
  border:1px solid #E63E6D;
  outline:none;
  border-radius:7px;
}
.inputarea button{
  width:100px;
  height:35px;
  font-size:19px;
  background-color:#BA135D;
  border-radius:8px;
  border:none;
  color:#FFE6E6;
  cursor: pointer;
}
.result p{
  text-align:center;
  color:#BA135D;
  font-size:25px;
}
.footer{
  margin-top:100px;
  width:100%;
  height:200px;
  background-color:#E63E6D;
}
.footer h3{
  color:#FFE6E6;
  text-align:center;
  margin:30px;
}
.footer a{
  text-decoration:none;
}